/* Estilo Geral */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(../assets/pratileiras-livro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Card Principal */
  .containerInteiro {
    background-color: rgba(175, 206, 221, 0.9);
    padding: 20px;
    width: 128%;
    margin-left: -96px;
    height: 52%;
    align-items: center;
    border-radius: 18px;
    border: 2px solid #4682b4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Título */
  .titulo {
    font-size: 30px;
    font-family: "Brawler", serif;
    font-weight: 850;
    text-align: center;
  }
  
  /* Formulário com duas colunas */
  .formulario {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* Campos individuais */
  .input-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 20px);
    max-width: 300px;
  }
  
  .inputs {
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    height: 40px;
    width: 250px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
  }
  
  .inputs.valid {
    border-color: green;
  }
  
  .inputs.invalid {
    border-color: red;
  }
  
  /* Contêiner de senha */
  .senha-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  /* Botão */
  .botao {
    border-radius: 8px;
    height: 40px;
    width: 161px;
    margin-left: 50px;
    border: none;
    background-color: #4682b4;
    color: white;
    align-items: center;
    font-size: 25px;
    font-family: "Brawler", serif;
    font-weight: 800;
    cursor: pointer;
    margin: 20px auto;
    transition: background-color 0.3s;
  }
  
  .botao:hover {
    background-color: #0056b3;
  }
  