*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

@font-face {
    font-family: face;
    src: url(../Britannic\ Bold\ Regular/.titulo/.titulo2/.banner);
}

@font-face {
    font-family: face;
    src: url(../Brawler/Brawler-Regular.ttf./.navbar);
}

body{
    width: 100%;
    height: 100%;
}

.navbar {
    width: 300px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    gap: 5vh;
}

.navbar li {
    margin-right: 20px;
}

.header {
    border-bottom: 3px solid #4682b4;
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    z-index: 3;
    height: 75px;
}

.navbar {
    width: 300px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    gap: 5vh;
    margin-left: 890px;
    text-align: center;
}

.navbar li {
    margin-right: 20px;
    text-decoration: none;
    margin-top: 40px;
}

.divLC {
    display: flex;
    gap: 2vh;
    margin-left: 55%;
    margin-top: 40px;

}

.containerTit {
    position: relative;
    background-color: #4682b4;
    color: white;
    display: flex;
    height: fit-content;
    width: 200px;
    align-items: start;
    margin-left: 50px;
    margin-bottom: -80px;
}

.titulo {
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    margin: 0;
    position: absolute;
    left: 18%;
}

.titulo2 {
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-left: 125px;
}

.container {
    background-color: #262b41;
    width: 100%;
    height: 809px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15;
}

.conteudo2{
    height: 700px;
    width: 50%;
    margin-left: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grafico{
    width: 100%;
    height: 100%;
}

.grafico2{
    margin-top: 10px;
    width: 100%;
    height: 60%;
}