body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    cursor: pointer;
}

.titulo {
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    margin: 0;
    position: absolute;
    left: 18%;
}

.titulo2 {
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-left: 125px;

}

@font-face {
    font-family: face;
    src: url(../Britannic\ Bold\ Regular/.titulo/.titulo2/.banner);
}

@font-face {
    font-family: face;
    src: url(../Brawler/Brawler-Regular.ttf./.navbar);
}

* {
    scroll-behavior: smooth;
}

.navbar {
    width: 300px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    gap: 5vh;


}

.navbar li {
    margin-right: 20px;
}

.header {
    border-bottom: 3px solid #4682b4;
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    z-index: 3;
}


.container {
    width: 80px;
    margin: auto;
    display: flex;
}

.containerTit {
    position: relative;
    background-color: #4682b4;
    color: white;
    display: flex;
    height: fit-content;
    width: 200px;
    align-items: start;
    margin-left: 50px;
    margin-bottom: -80px;

}

.containerTit a {
    transition: transform 0.3 ease;
}

.containerTit a:hover {
    transform: scale(1.06);
}

.header .container {
    justify-content: space-evenly;

}

.banner {
    background-image: url(../assets/pratileiras-livro.jpg);
    height: 650px;
    color: #d9d9d9;
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;

}

.banner .container {
    font-size: 150px;
    color: white;
    text-shadow: 4px 4px 0px #4682b4;

}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #4682b4;
}

.divLC {
    display: flex;
    gap: 2vh;
    margin-left: 55%;
}

section {
    padding: 0;
}

.sobre {
    background-color: #DEDAD5;
    background-image: url(../assets/atuacao.png); 
    background-size: 200px 212px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    height: 500px;
    margin: 0 auto;
    padding: 0;
    background-position: 270px;


}

.sobre h1 {
    margin-top: 0;
    text-align: center;
    font-size: 45px;
    color: #044783;
    text-shadow: 2px 1px 0px black;
    white-space: nowrap;
    

}

.sobre .conteudo p {
    text-align: justify;
    padding: 0;
    align-items: center;
    font-size: 22px;
    width: 682px;
    justify-content: center;
    margin-left: 357px;
}


.sobre .titulo2 {
    margin-top: 100px;
    left:20.5rem;
    display: flex;
    position: relative;

}

.sobre hr {
    color: #044783;
}

.conteudo {
    display: flex;
    justify-content: left;
    margin-top: 190px;
    margin-left: -140px;
    justify-content: center;

}
.Home-Card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7098bac9;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    margin: 30px;
}


.card {
    width: 280px;
    height: 360px;
    background: #fff;
    display: flex;
    align-items: flex-end;
    padding: 2rem 1rem;
    position: relative;
    transition: 0.5s all ease-in-out;
}

.card:hover{
    transform: translateY(-10px);
}

.card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(13, 36, 63, 0.3), rgba(13, 36, 63, 1));
    z-index: 2;
    opacity: 0;
    transition: 0.5s all;
}

.card:hover::before{
    opacity: 1;

}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info {
    position: relative;
    color: #fff;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0);
}

.card .info h1 {
    line-height: 40px;
    margin-bottom: 10px;
}

.card .info p {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.card .info .botao {
    background: #fff;
    padding: 0.5rem 1rem;
    color: #000;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: .4s ease-in-out;
}

.card .info .botao:hover {
    background: #23334A;
    color: #fff;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}

.containerTit a {
    text-decoration: none;
}



#guia {
    background-color: #DEDAD5;
}

.slide-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    flex-wrap: wrap;
    background-color: #DEDAD5;
}

.centralizadoT {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
}

.slider {
    display: none;
    position: relative;
    text-align: center;
}

.slider img {
    display: block;
    margin: auto;
    border-radius: 10px;
    height: 450px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: -80px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-flex;
    margin-top: 50px;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.container3 {
    display: flex;
    color: white;
    border: 2px solid #044783;
    border-radius: 20px;
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: auto;
    padding: 20px;
    max-width: 1180px;
    margin: 0 auto;
    background-color: black;
    margin-top: 25px;
}

.conteudo3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.texto {
    flex: 1;
    text-align: left;
    padding-right: 20px;
    font-size: 20px;
}

.foto {
    flex: 0 0 auto;
}

.foto img {
    width: 280px;
    height: auto;
    border-radius: 10px;
}

.footer {
    height: 50px;
    color: #fff;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer .container {
    justify-content: center;
    display: flex;
    
}

.footer h4{
    margin: 0;
    white-space: nowrap;
}